In [1]:
import pandas as pd

In [2]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [32]:
print(movies.info())
movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10325 entries, 0 to 10324
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movieId   10325 non-null  int64
 1   title     10325 non-null  object
 2   genres    10325 non-null  object
 3   rating_x  10325 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 322.8+ KB
None

,movieId,title,genres,rating_x
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.907328
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.353261
2,3,Grumpier Old Men (1995),Comedy|Romance,3.189655
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.818182
4,5,Father of the Bride Part II (1995),Comedy,3.250000

In [33]:
rating.info()
rating.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     105339 non-null  int64
 1   movieId    105339 non-null  int64
 2   rating     105339 non-null  float64
 3   timestamp  105339 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.2 MB

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [17]:
merged_df = pd.merge(rating, movies, on='movieId')
avg_rating = merged_df.groupby('movieId')['rating'].mean().reset_index()
avg_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10325 entries, 0 to 10324
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10325 non-null  int64
 1   rating   10325 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 161.5 KB

In [19]:
movies = pd.merge(movies, avg_rating, on='movieId')
movies.head()

,movieId,title,genres,rating_x,rating_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.907328,3.907328
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.353261,3.353261
2,3,Grumpier Old Men (1995),Comedy|Romance,3.189655,3.189655
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.818182,2.818182
4,5,Father of the Bride Part II (1995),Comedy,3.250000,3.250000

In [23]:
movies['rating_y'].equals(movies['rating_x'])

True

In [26]:
movies = movies.drop('rating_y', axis=1)

In [27]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10325 entries, 0 to 10324
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movieId   10325 non-null  int64
 1   title     10325 non-null  object
 2   genres    10325 non-null  object
 3   rating_x  10325 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 322.8+ KB

In [35]:
user_genre = input("Enter the genre: ")
filtered_movies = movies[movies['genres'].str.contains(user_genre, case=False)]
recommended_movies = filtered_movies.sort_values(by='rating_x', ascending=False)
print(recommended_movies[['title', 'rating_x']].head())

                                                  title  rating_x
6374  Interstella 5555: The 5tory of the 5ecret 5tar...       5.0
4337  Friend Is a Treasure, A (Chi Trova Un Amico, T...       5.0
5022                               Interstate 60 (2002)       5.0
7225                            Plague Dogs, The (1982)       5.0
4111                                   Iron Will (1994)       5.0

In [ ]:
#output formating is left